{% extends 'frontend/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_filters %}

{% block pagename %}
    Sign Up | RPS Online
{% endblock %}

{% block content %}
    <div style="width: 300px; margin: auto; padding-top: 20px">
        <form action="" method="post" style="text-align: center" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
                Sign Up
            </button>
        </form>
    </div>
{% endblock %}